<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>可可西里-下载中心</title>
    <style type="text/css">
        .div {
            width: 1000px;
            height: auto;
            background-color: #EAF0F5;
            margin-bottom: 5px;
        }
        .div01 {
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        .div02 {
            margin: 0 30px;
        }
        .img {
            width: 50px;
            height: 50px;
            vertical-align: middle;
            padding: 2px;
            margin: 2px;
        }
        .down-img {
            width: 20px;
            height: 20px;
            float: right;
            margin-top: 6px;
        }
        .float-dis {
            display: inline;
            font-size: 1.4em;
            color: #47BAC1;
        }
        .ul-li {
            list-style: square;
            font-size: 18px;
            line-height: 30px;
        }
        .a {
            color: #5aba59;
            display: inline-block;
            width: 660px;
        }
        .a-tiquma {
            width: 150px;
        }
    </style>
</head>
<body>
<div class="div div01">
    <br>
    <br>
    <div class="div02">
        <img class="img" src="/static/images/dowPython.png" alt="python图标">
        <span class="float-dis">Python专区</span>
        <div>
            <ul class="ul-li">
                <li>
                    <a class="a" >Python标准库.PDF</a><a class="a-tiquma">提取码：82tt</a>
                    <a href="https://pan.baidu.com/s/1pZBuxTS4FQiuJ15mHnq5qA"><img class="down-img" src="/static/images/dowDownload.png"></a>
                </li>
                <li>
                    <a class="a">Python标准库中文版.PDF</a><a class="a-tiquma">提取码：einf</a>
                    <a href="https://pan.baidu.com/s/1QW3SBN7InQza-0xxkiw93g"><img class="down-img" src="/static/images/dowDownload.png"></a>
                </li>
                <li>
                    <a class="a">Python核心编程（第二版）.PDF</a><a>提取码：tj4s</a>
                    <a href="https://pan.baidu.com/s/16FYm69uhN5UlYURL31h0NQ"><img class="down-img" src="/static/images/dowDownload.png"></a>
                </li>
                <li>
                    <a class="a">Python核心编程（第三版）.PDF</a><a>提取码：w70v</a>
                    <a href="https://pan.baidu.com/s/17y2vNtOe4SCgFlxWBBRqjg"><img class="down-img" src="/static/images/dowDownload.png"></a>
                </li>
                <li>
                    <a class="a">Python网络编程基础.PDF</a><a>提取码：dp76</a>
                    <a href="https://pan.baidu.com/s/1QN7WCXXsj3WsmtsRvkVtGQ"><img class="down-img" src="/static/images/dowDownload.png"></a>
                </li>
                <li>
                    <a class="a">Python学习手册（第四版）.PDF</a><a>提取码：7i0f</a>
                    <a href="https://pan.baidu.com/s/1Otn-IHWAoxdM6nL6HIq1tA"><img class="down-img" src="/static/images/dowDownload.png"></a>
                </li>
                <li>
                    <a class="a">Python语言程序设计.PDF</a><a>提取码：eh7h</a>
                    <a href="https://pan.baidu.com/s/10DSpqyCyZyUUzYf1XgDqmQ "><img class="down-img" src="/static/images/dowDownload.png"></a>
                </li>
                <li>
                    <a class="a">笨办法学Python（第三版）.PDF</a><a>提取码：qehc</a>
                    <a href="https://pan.baidu.com/s/1-dAeyyX0L2T7AA1LAiqSwg"><img class="down-img" src="/static/images/dowDownload.png"></a>
                </li>
                <li>
                    <a class="a">简明Python教程.PDF</a><a>提取码：r4ld</a>
                    <a href="https://pan.baidu.com/s/19skeBxM7uDSJo1X3F_IPcw"><img class="down-img" src="/static/images/dowDownload.png"></a>
                </li>
                <li>
                    <a class="a">Python Web开发学习实录.PDF</a><a>提取码：dx0u</a>
                    <a href="https://pan.baidu.com/s/1yIudcQvPuJoLDBlfRbiNFQ"><img class="down-img" src="/static/images/dowDownload.png"></a>
                </li>
                <li>
                    <a class="a">精通 Django.PDF</a><a>提取码：piik</a>
                    <a href="https://pan.baidu.com/s/14Y4iAF0CNhCDm-PRsY3m1w"><img class="down-img" src="/static/images/dowDownload.png"></a>
                </li>
                <li>
                    <a class="a">轻量级 Django.PDF</a><a>提取码：bzud</a>
                    <a href="https://pan.baidu.com/s/1BFQy5XU86W9dmdkOLNSQfw"><img class="down-img" src="/static/images/dowDownload.png"></a>
                </li>
                <li>
                    <a class="a">Django Web开发指南.PDF</a><a>提取码：9chx</a>
                    <a href="https://pan.baidu.com/s/1li1b3rQTHZNXF1SfUYcr5A"><img class="down-img" src="/static/images/dowDownload.png"></a>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <div class="div02">
        <img class="img" src="/static/images/dowLinux.png" alt="Linux图标">
        <span class="float-dis">Linux专区</span>
        <div>
            <ul class="ul-li">
                <li>
                    <a class="a">鸟哥的Linux私房菜+基础学习篇（第三版）.PDF</a><a>提取码：u74k</a>
                    <a href="https://pan.baidu.com/s/1qrdLrwPiXuLUJMSPsBZuzA"><img class="down-img" src="/static/images/dowDownload.png"></a>
                </li>
                <li>
                    <a class="a">鸟哥的Linux私房菜服务器架设篇(第三版).PDF</a><a>提取码：dd70</a>
                    <a href="https://pan.baidu.com/s/1-EHLbs56aPgk52ssvoFQ4g"><img class="down-img" src="/static/images/dowDownload.png"></a>
                </li>
                <li>
                    <a class="a">鸟哥的Linux私房菜基础学习篇（第四版）.PDF</a><a>提取码：c16y</a>
                    <a href="https://pan.baidu.com/s/1CJjDd-tR-IWC5Y_jQS7szA"><img class="down-img" src="/static/images/dowDownload.png"></a>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <div class="div02">
        <img class="img" src="/static/images/dowDeepLearning.png" alt="深度学习图标">
        <span class="float-dis">深度学习专区</span>
        <div>
            <ul class="ul-li">
                <li>
                    <a class="a">21个项目玩转深度学习：基于TensorFlow的实践详解.PDF</a><a>提取码：xbii</a>
                    <a href="https://pan.baidu.com/s/1w84lewu7pBChcIhgSz1Pww"><img class="down-img" src="/static/images/dowDownload.png"></a>
                </li>
                <li>
                    <a class="a">TensorFlow 官方文档中文版.PDF</a><a>提取码：yfpo</a>
                    <a href="https://pan.baidu.com/s/13Wg-J6p9OdmR-1Ts1YA6YA"><img class="down-img" src="/static/images/dowDownload.png"></a>
                </li>
                <li>
                    <a class="a">TensorFlow 实战Google深度学习框架.PDF</a><a>提取码：2yox</a>
                    <a href="https://pan.baidu.com/s/1GWB5Zc2VAzkW5o8pOjeFCQ"><img class="down-img" src="/static/images/dowDownload.png"></a>
                </li>
                <li>
                    <a class="a">Tensorflow 实战Google深度学习框架（第2版）.PDF</a><a>提取码：zrci</a>
                    <a href="https://pan.baidu.com/s/1teM-lVvOJERh99wFvg0JSQ"><img class="down-img" src="/static/images/dowDownload.png"></a>
                </li>
                <li>
                    <a class="a">TensorFlow实战（黄文坚）.PDF</a><a>提取码：ytxt</a>
                    <a href="https://pan.baidu.com/s/1XaTYFzZ5gCSErh8OfHhi6w"><img class="down-img" src="/static/images/dowDownload.png"></a>
                </li>
                <li>
                    <a class="a">深度学习（中文版）.PDF</a><a>提取码：xeh2</a>
                    <a href="https://pan.baidu.com/s/1_oOs5V7RKcoZ_i0K2ETk_Q"><img class="down-img" src="/static/images/dowDownload.png"></a>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <div class="div02">
        <img class="img" src="/static/images/dowOther.png" alt="其他资料图标">
        <span class="float-dis">其他资料专区</span>
        <div>
            <ul class="ul-li">
                <li>
                    <a class="a">数据结构与算法-Python语言描述.PDF</a><a>提取码：emu0</a>
                    <a href="https://pan.baidu.com/s/1hfjVEgIrfZdE9sb0gL7ZGQ"><img class="down-img" src="/static/images/dowDownload.png"></a>
                </li>
                <li>
                    <a class="a">数学之美.PDF</a><a>提取码：azh3</a>
                    <a href="https://pan.baidu.com/s/15jeD9xXdOxl2Kg4If3dpZA"><img class="down-img" src="/static/images/dowDownload.png"></a>
                </li>
                <li>
                    <a class="a">区块链新经济概论.PDF</a><a>提取码：9ugd</a>
                    <a href="https://pan.baidu.com/s/11LQPyBTmrCm_iO8fRlawWA"><img class="down-img" src="/static/images/dowDownload.png"></a>
                </li>
                <li>
                    <a class="a">统计学习方法.PDF</a><a>提取码：n8v4</a>
                    <a href="https://pan.baidu.com/s/1DTc-yyak4qEnvCk7W8isOA"><img class="down-img" src="/static/images/dowDownload.png"></a>
                </li>
                <li>
                    <a class="a">以上所有资料下载</a><a>提取码：iu0j</a>
                    <a href="https://pan.baidu.com/s/14UuvqepTGajnUCf1I0WESA"><img class="down-img" src="/static/images/dowDownload.png"></a>
                </li>
            </ul>
        </div>
    </div>
    <br>
</div>
</body>
</html>
