<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>可可西里-个人简历</title>
    <style type="text/css">
        body{
            font-family: 'Microsoft YaHei';
            margin: 0px;
        }
        /*2个字符拥有4个字符的长度,y个字两端对齐，(x-y)/(y-1)*/
        .w2{
            letter-spacing: 2em;
            margin-right: -2em;
        }
        .w3{
            letter-spacing: 1em;
            margin-right: -1em;
        }
    </style>
</head>
<body>
<table width="1000" height="1590" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFAF0">
    <tr>
        <!--基本信息-->
        <tr style="font-size: 19px;color:#44a247;">
            <td height="270">
                <table border="0" cellspacing="0" cellpadding="0" align="center">
                    <tr height="100"></tr>
                    <tr>
                        <td width="217" rowspan="3"><img width="110" height="156" src="/static/images/resOneInchPhoto.jpg" alt="一寸照"></td>
                        <td width="115" align="right"><b><a class="w2">姓名</a>：</b></td>
                        <td width="265"><a>陈华俊</a></td>
                        <td width="115" align="right"><b><a>出生日期</a>：</b></td>
                        <td width="207">1995年6月</td>
                    </tr>
                    <tr>
                        <td align="right"><b><a class="w2">电话</a>：</b></td>
                        <td>18108745774</td>
                        <td align="right"><b><a class="w2">住址</a>：</b></td>
                        <td>武汉市江夏区</td>
                    </tr>
                    <tr>
                        <td align="right"><b><a class="w2">邮箱</a>：</b></td>
                        <td>chj655700@163.com</td>
                        <td align="right"><b><a>工作经验</a>：</b></td>
                        <td><a class="w3">暂无</a></td>
                    </tr>
                    <tr height="30"></tr>
                </table>
            </td>
        </tr>
        <!--求职意向-->
        <tr>
            <td width="928" height="110">
                <table border="0" cellspacing="0" cellpadding="0" align="center">
                    <tr height="45">
                        <td><font size="4" color="#44a247"><b>求职意向</b></font></td>
                    </tr>
                    <tr height="45" bgcolor="#e3f6df">
                        <td width="95"><b>&nbsp;&nbsp;&nbsp;从事职业：</b></td>
                        <td width="221">Python开发工程师</td>
                        <td width="83"><b>期望薪资：</b></td>
                        <td width="221"><a class="w3">面议</a></td>
                        <td width="83"><b>工作地点：</b></td>
                        <td width="215">武汉、杭州、北京等地</td>
                    </tr>
                    <tr height="30"></tr>
                </table>
            </td>
        </tr>
        <!--教育背景-->
        <tr>
            <td width="928" height="150">
                <table border="0" cellspacing="0" cellpadding="0" align="center">
                    <tr height="45">
                        <td><font size="4" color="#44a247"><b>教育背景</b></font></td>
                    </tr>
                    <tr height="45" bgcolor="#e3f6df">
                        <td width="95"><b>&nbsp;&nbsp;&nbsp;学校名称：</b></td>
                        <td width="221">武汉纺织大学</td>
                        <td width="83"><b>就读时间：</b></td>
                        <td width="221">2015.09~2020.06</td>
                        <td width="83"><b>所学专业：</b></td>
                        <td width="215">软件工程</td>
                    </tr>
                    <tr height="45" bgcolor="#e3f6df">
                        <td><b>&nbsp;&nbsp;&nbsp;学历学位：</b></td>
                        <td><a class="w3">本科</a></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr height="30"></tr>
                </table>
            </td>
        </tr>
        <!--校园经历-->
        <tr>
            <td width="919" height="190">
                <table border="0" cellspacing="0" cellpadding="0" align="center">
                    <tr height="45">
                        <td width="919"><font size="4" color="#44a247"><b>校园经历</b></font></td>
                    </tr>
                    <tr height="45" bgcolor="#e3f6df">
                        <td>&nbsp;&nbsp;&nbsp;1.&nbsp;&nbsp;2015~2016 年任职网络部干事，多次为学校师生义务维修电脑</td>
                    </tr>
                    <tr height="45" bgcolor="#e3f6df">
                        <td>&nbsp;&nbsp;&nbsp;2.&nbsp;&nbsp;2018~2019 年担任数学与计算机学院《1024 工作室》负责人</td>
                    </tr>
                    <tr height="45" bgcolor="#e3f6df">
                        <td>&nbsp;&nbsp;&nbsp;3.&nbsp;&nbsp;个人实用新型专利（ZL 2016 2 0079792.0）</td>
                    </tr>
                    <tr height="30"></tr>
                </table>
            </td>
        </tr>
        <!--实习经历-->
        <tr>
            <td width="919" height="230">
                <table border="0" cellspacing="0" cellpadding="0" align="center">
                    <tr height="45">
                        <td width="919"><font size="4" color="#44a247"><b>实习经历</b></font></td>
                    </tr>
                    <tr height="45" bgcolor="#e3f6df">
                        <td>&nbsp;&nbsp;&nbsp;2018 年 7 月~ 2018年12月：</td>
                    </tr>
                    <tr height="45" bgcolor="#e3f6df">
                        <td>&nbsp;&nbsp;&nbsp;1.&nbsp;&nbsp;参与学院老师项目：错题本 App 开发</td>
                    </tr>
                    <tr height="45" bgcolor="#e3f6df">
                        <td>&nbsp;&nbsp;&nbsp;2.&nbsp;&nbsp;前期构思，建模和类图设计等</td>
                    </tr>
                    <tr height="45" bgcolor="#e3f6df">
                        <td>&nbsp;&nbsp;&nbsp;3.&nbsp;&nbsp;主要负责图片预处理，Tesseract-OCR 进行图片文字识别，模型训练</td>
                    </tr>
                    <tr height="30"></tr>
                </table>
            </td>
        </tr>
        <!--技能清单-->
        <tr>
            <td width="919" height="350">
                <table border="0" cellspacing="0" cellpadding="0" align="center">
                    <tr height="45">
                        <td width="919"><font size="4" color="#44a247"><b>技能清单</b></font></td>
                    </tr>
                    <tr height="45" bgcolor="#e3f6df">
                        <td>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;熟悉Python编程，了解PEP8编码规范</td>
                    </tr>
                    <tr height="45" bgcolor="#e3f6df">
                        <td>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;熟悉常见的数据结构与算法</td>
                    </tr>
                    <tr height="45" bgcolor="#e3f6df">
                        <td>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;熟悉MySQL数据库，能够流畅操作MySQL</td>
                    </tr>
                    <tr height="45" bgcolor="#e3f6df">
                        <td>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;熟悉Linux环境，掌握基本的Linux命令与操作</td>
                    </tr>
                    <tr height="45" bgcolor="#e3f6df">
                        <td>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;熟悉HTTP/HTTPS 、TCP/UDP等TCP/IP协议</td>
                    </tr>
                    <tr height="45" bgcolor="#e3f6df">
                        <td>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;熟悉Django开发框架及其MTV模式</td>
                    </tr>
                    <tr height="45" bgcolor="#e3f6df">
                        <td>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;了解HTML5 、CSS3 、JavaScript基础知识</td>
                    </tr>
                    <tr height="30"></tr>
                </table>
            </td>
        </tr>
        <!--自我评价-->
        <tr>
            <td width="919" height="290">
                <table border="0" cellspacing="0" cellpadding="0" align="center">
                    <tr height="45">
                        <td width="919"><font size="4" color="#44a247"><b>自我评价</b></font></td>
                    </tr>
                    <tr height="45" bgcolor="#e3f6df">
                        <td>&nbsp;&nbsp;&nbsp;1.&nbsp;&nbsp;热爱互联网行业，关注行业动态，能吃苦耐劳，有较强的学习能力和自驱动意识</td>
                    </tr>
                    <tr height="45" bgcolor="#e3f6df">
                        <td>&nbsp;&nbsp;&nbsp;2.&nbsp;&nbsp;具有良好的责任心和沟通协作能力，具备较强的团队合作精神</td>
                    </tr>
                    <tr height="45" bgcolor="#e3f6df">
                        <td>&nbsp;&nbsp;&nbsp;3.&nbsp;&nbsp;芝麻信用极好，做事靠谱：能做到事事有回音，凡事有交代，件件有着落</td>
                    </tr>
                    <tr height="150"></tr>
                </table>
            </td>
        </tr>
    </tr>
</table>
</body>
</html>